.search {
  input {
    border-radius: 0;
  }
  button {
    text-transform: uppercase;
    background-color: var(--vermelho);
    color: #fff;
    height: 50px;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 0;
  }
}
