// fontes
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open Sans Bold";
  src: url(/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "Open Sans Extra Bold";
  src: url(/fonts/OpenSans-ExtraBold.ttf);
}

//variaveis
:root {
  --cinza01: #231f20;
  --cinza02: #9f9f9f;
  --cinza03: #fffffd;
  --cinza04: rgba(206, 204, 204, 0.527);
  --vermelho: #cc0d1f;
  --verde: #80bdb8;
  --laranja: #f46226;
}

// geral
body {
  font-family: "Open Sans";
}

a {
  text-decoration: none;
}

.bold {
  font-family: "Open Sans Bold";
}

.extra-bold {
  font-family: "Open Sans Extra Bold";
}

.cursor-pointer {
  cursor: pointer;
}

.fadeOut {
  opacity: 0;
  display: none;
  transition: 0.2s;
}

.fadeIn {
  animation: fadein forwards;
  animation-duration: 3s;
  opacity: 1 !important;
  display: block !important;
}

@keyframes fadein {
  from {
    transform: translateX(-900px);
  }

  to {
    transform: translateX(0);
  }
}

.labelColor{
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.Laranja{
  background-color: #E25D4C;
}

.Rosa{
  background-color: #CBBEE7;
}

.Preta, .Preto{
  background-color: #000;
}

.Amarela{
  background-color: #FA8D12;
}

.Cinza{
  background-color: gray;
}

.Azul{
  background-color: blue;
}

.Bege{
  background-color: #e2ddd7;
}