.filterLeft {
  border: 1px solid var(--cinza04);
  max-height: 400px;
}

.filter {

  @media screen and (min-width: 768px) {
    border-top: 1px solid var(--cinza04);
    border-bottom: 1px solid var(--cinza04);  
  }
}

.tituloFiltro{
  color: var(--vermelho);
  text-transform: uppercase;
  font-size: 20px;
}

.subtituloFiltro{
  color: var(--verde);
  text-transform: uppercase;
}

.itensFiltro{
  color: var(--cinza02);
  cursor: pointer;
}

.label {
  color: var(--cinza02);
  text-transform: uppercase;
}

.titulo {
  color: var(--vermelho);
  font-size: 25px;
}

.image {
  border: 1px solid var(--cinza04);
  padding: 10px;
  height: 300px;

  img {
    height: 100%;
  }
}

.name {
  color: var(--cinza02);
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.price {
  color: var(--vermelho);
  font-size: 20px;
}

.oldPrice {
  color: var(--cinza02);
  text-decoration: line-through;
}
