.acessoUsuario {
  background-color: var(--cinza01);

  span {
    color: #fff;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }
}

.menu {
  background-color: var(--vermelho);
  opacity: 0;
  display: none;
  position: absolute;
  width: 100%;
  

  a {
    color: #fff;
    text-transform: uppercase;
    
    @media screen and (min-width: 768px){
      font-size: 14px;
    }

    @media screen and (min-width: 1024px){
      font-size: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    opacity: 1;
    display: block;
    position: static;
  }
}


